%h3= @user.email
- if @user.follows?(current_user)
  %b Follows You
- if @relationship
  %br
  =link_to 'Unfollow', unfollow_user_path(@user), class: 'btn btn-primary'
- else
  =link_to 'Follow', follow_user_path(@user), class: 'btn btn-default'
%hr
- @posts.each do |post|
  =render partial: 'layouts/post', locals: { post: post, user: @user }
