.panel.panel-default
  -if post.title
    .panel-heading
      %h3.panel-title=post.title
  .panel-body
    %h5=link_to "#{user.email}:", user_path(user)
    -if post.photo.exists?
      =image_tag post.photo.url
    %p=post.body 